#quizzes-header, #quiz-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#quizzes-header h2 {
    display: inline-block;
}

#quizzes-body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}


.quiz-and-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}
.quiz-actions-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: space-around;
}
.action-container {
    display: flex;
    gap: 1rem;
    color: white;
    align-items: center;
}
.action-container p {
    margin: 0;
}

.action-button {
    padding: 0.5rem;
    min-width: 6rem;
    max-height: 2.5rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    filter: drop-shadow(0px 2px 0.2rem rgba(0, 0, 0, 0.2));
    background-color: #2779a7;
    color: white;
}

.action-button:hover {
    cursor: pointer;
}



.quiz-container {
    display: grid;
    justify-items: center;
    background-color: rgba(255, 255, 255);
    width: 13rem;
    height: 13rem;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem rgb(0, 0, 0));
    transition-duration: 0.3s;
    border-radius: 1rem;
}
.quiz-container:hover {
    cursor:pointer;
    width: 15rem;
    height: 15rem;
}
.quiz-container h3 {
    display: grid;
    align-content: center;
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0.5rem 0;
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    text-align: center;
    backdrop-filter: 6px;
    filter: drop-shadow(0 0.2rem 0.1rem rgb(0, 0, 0, 0.5));
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem 1rem 0 0;
}

.quiz-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 1 / span 2;
    grid-column: 1;
    border-radius: 1rem;
}

.quiz-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#quiz-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.quiz-action {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.quiz-action:hover {
    background-color: rgb(180, 180, 180)
}

.flashcard {
    display: grid;
    justify-items: center;
    position: relative;
    transform-style: preserve-3d;
    transform: rotate3d(1, 0, 0, 0deg);
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    margin: 2rem 0rem;
    
}

.flashcard-front, .flashcard-back {
    grid-row:1;
    grid-column:1;
    padding: 2rem 2rem;
    text-align: center;
    transition-duration: 2s;
    width: 80%;
    max-width: 600px;
}

.flashcard-front:hover, .flashcard-back:hover {
    cursor:pointer;
}

.flashcard-front {
    color: white;
    background-color:rgb(70, 110, 90);
    transform: translateZ(1px);
}

.flashcard-back {
    color: white;
    background-color: rgb(100, 141, 83);
    transform: rotate3d(1, 0, 0, 180deg) translateZ(0px) ;
}

