#topics-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#topics-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #2779a7;
    margin-bottom: 2rem;
}

#topics-body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}


#topic-and-actions {
    min-height: 15rem;
    min-width: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 3rem;
}
.topic-container {
    position: relative;
    display: grid;
    justify-items: center;
    background-color: rgba(255, 255, 255);
    width: 13rem;
    height: 13rem;
    filter: drop-shadow(0.1rem 0.1rem 0.5rem rgb(0, 0, 0));
    transition-duration: 0.3s;
    border-radius: 1rem;
}
.topic-container:hover {
    cursor:pointer;
    width: 15rem;
    height: 15rem;
}
.topic-container h3 {
    position: absolute;
    bottom: 0;
    align-content: center;
    width: 96%;
    margin: 0;
    padding: 0.5rem 2.5%;
    z-index: 2;
    text-align: center;
    backdrop-filter: 6px;
    filter: drop-shadow(0 0.2rem 0.1rem rgb(0, 0, 0, 0.5));
    color: white;
    background-color: rgb(39, 121, 167, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 0 0 1rem 1rem;
}

.topic-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-row: 1 / span 2;
    grid-column: 1;
    border-radius: 1rem;
}

.topic-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#topic-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.topic-action {
    padding: 0.5rem;
    border-radius: 0.5rem;
}