@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./Fonts/NunitoSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: url('./Fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'AntrySans';
    src: url('./Fonts/AntrySans.otf') format("opentype")
}

@font-face {
    font-family: 'LemonMilk';
    src: url('./Fonts/LEMONMILK-Medium.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'LemonMilk';
    src: url('./Fonts/LEMONMILK-Bold.otf');
    font-weight: bold;
}

body {
    font-family: 'Nunito Sans';
    margin: 0;
    background-color: rgb(50, 50, 50)
}

button {
    font-family: 'Nunito Sans';
}

.app-header {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    color: white;
    width: 100%;
    max-height: 6rem;
}
.app-header a{
    margin: 1rem 0;
    font-weight: 600;
}
#app-body {
    position: absolute;
    top: 8rem;
    width: 90%;
    padding: 0 5%;
}


.topic-quiz-link {
    color:black;
}
.topic-quiz-link:hover {
    text-decoration: none;
}

a {
    font-family: 'Nunito Sans';
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}